WinHost/Connected Services/ServiceReference1/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://61.155.138.203:7000/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HelpBase" />
  <xs:import schemaLocation="http://61.155.138.203:7000/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Proto.GameModel" />
  <xs:import schemaLocation="http://61.155.138.203:7000/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="RC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lt" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ct" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RCResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SVNUpdateAsset">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SVNUpdateAssetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SVNUpdateAssetResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SVNUpdateConfig">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SVNUpdateConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SVNUpdateConfigResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReloadConfig">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReloadConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReloadConfigResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivityList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" type="xs:long" />
        <xs:element minOccurs="0" name="endDate" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivityListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetActivityListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivityData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivityDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetActivityDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteActivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteActivityResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivityTemplate">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivityTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetActivityTemplateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivityTemplates">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivityTemplatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetActivityTemplatesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivityTemplates2">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActivityTemplates2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetActivityTemplates2Result" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="typename" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEntityTemplateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityPropertyTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="typename" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" type="xs:long" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntityPropertyTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEntityPropertyTemplateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="className" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateActivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateActivityResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetActivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetActivityResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetActivityNew">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetActivityNewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetActivityNewResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ES">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="c" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ESResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ESResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GAC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GACResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GACResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SAC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
        <xs:element minOccurs="0" name="property" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SACResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SACResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeProperty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="typename" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ID" type="xs:long" />
        <xs:element minOccurs="0" name="property" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePropertyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangePropertyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="num1" type="xs:double" />
        <xs:element minOccurs="0" name="num2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoCommand">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="command" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoCommandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DoCommandResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="platform" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="platformAccountID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivateAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActivateAccountResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnlineCount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnlineCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OnlineCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCharacterAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oan" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nan" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCharacterAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCharacterAccountResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeCharacterAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oldAccount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oldPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newAccount" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeCharacterAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeCharacterAccountResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewCharacter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Gender" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewCharacterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewCharacterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharactersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCharactersResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Character">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CharacterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CharacterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacterItemList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cid" type="xs:long" />
        <xs:element minOccurs="0" name="propertyName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacterItemListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCharacterItemListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CharacterLv">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="account" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CharacterLvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CharacterLvResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Characters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="index" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="count" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CharactersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CharactersResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerMails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="type" type="xs:int" />
        <xs:element minOccurs="0" name="status" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerMailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CustomerMailsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchEmails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" type="xs:int" />
        <xs:element minOccurs="0" name="status" type="xs:int" />
        <xs:element minOccurs="0" name="cName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accountName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gmName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchEmailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchEmailsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Pay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="money" type="xs:int" />
        <xs:element minOccurs="0" name="dollar" type="xs:int" />
        <xs:element minOccurs="0" name="ordernumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PayResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuyByCid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cid" type="xs:long" />
        <xs:element minOccurs="0" name="id" type="xs:long" />
        <xs:element minOccurs="0" name="ordernumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="paidMoneyInCents" type="xs:int" />
        <xs:element minOccurs="0" name="recordMoney" type="xs:boolean" />
        <xs:element minOccurs="0" name="serverid" type="xs:int" />
        <xs:element minOccurs="0" name="aid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuyByCidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BuyByCidResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DayStateRecord">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DayStateRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DayStateRecordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DayStateRecords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DayStateRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DayStateRecordsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="end" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetActiveInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAdminLv">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="adminLv" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAdminLvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetAdminLvResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaoMaDeng">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="times" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaoMaDengResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PaoMaDengResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LvGroups">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LvGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LvGroupsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObjectChange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ed" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" type="xs:int" />
        <xs:element minOccurs="0" name="ctype" type="xs:int" />
        <xs:element minOccurs="0" name="ownerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObjectChangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObjectChangeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OCRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ownerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="action" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OCRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OCRecordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllProperties">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="category" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllPropertiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AllPropertiesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayRecords">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PayRecordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PayRecordsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinancialData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFinancialDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFinancialDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerOpenStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerOpenStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetServerOpenStatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetServerOpenStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="openTimestamp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetServerOpenStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetServerOpenStatusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopChat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="minute" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopChatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StopChatResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="minute" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StopLoginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopIP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="remove" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopIPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StopIPResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnstopIP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="remove" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnstopIPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UnstopIPResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SystemMails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SystemMailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SystemMailsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSystemMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="awardString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderTimestamp" type="xs:int" />
        <xs:element minOccurs="0" name="deadlineTimestamp" type="xs:int" />
        <xs:element minOccurs="0" name="type" type="xs:int" />
        <xs:element minOccurs="0" name="conditions" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSystemMailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendSystemMailResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSystemMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSystemMailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSystemMailResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMailsByAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accounts" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="awards" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DeadLine" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMailsByAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HelpBase" minOccurs="0" name="SendMailsByAccountResult" type="q1:ResultInfoOfArrayOfstringuHEDJ7Dj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMailsByAccountNew">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accounts" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="awards" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deadlineTimestamp" type="xs:int" />
        <xs:element minOccurs="0" name="type" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMailsByAccountNewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendMailsByAccountNewResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMailsByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cids" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="awards" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deadlineTimestamp" type="xs:int" />
        <xs:element minOccurs="0" name="type" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMailsByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendMailsByIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMailsByLv">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="minLv" type="xs:int" />
        <xs:element minOccurs="0" name="maxLv" type="xs:int" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Proto.GameModel" minOccurs="0" name="type" type="q2:MailType" />
        <xs:element minOccurs="0" name="awards" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DeadLine" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMailsByLvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HelpBase" minOccurs="0" name="SendMailsByLvResult" type="q3:ResultInfoOfArrayOfstringuHEDJ7Dj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMailsByLvNew">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="minLv" type="xs:int" />
        <xs:element minOccurs="0" name="maxLv" type="xs:int" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Proto.GameModel" minOccurs="0" name="type" type="q4:MailType" />
        <xs:element minOccurs="0" name="awards" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deadlineTimestamp" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMailsByLvNewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendMailsByLvNewResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMailsByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cnames" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="awards" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DeadLine" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMailsByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendMailsByNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMailsByNameNew">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cnames" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="awards" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deadlineTimestamp" type="xs:int" />
        <xs:element minOccurs="0" name="type" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMailsByNameNewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendMailsByNameNewResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSystemMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSystemMailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSystemMailResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSMBT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSMBTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSMBTResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CharacterByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CharacterByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CharacterByNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CharactersByAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="account" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CharactersByAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CharactersByAccountResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayByCidInternal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cid" type="xs:int" />
        <xs:element minOccurs="0" name="quantity" type="xs:int" />
        <xs:element minOccurs="0" name="type" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayByCidInternalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HelpBase" minOccurs="0" name="PayByCidInternalResult" type="q5:ResultInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayByCNameInternal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quantity" type="xs:int" />
        <xs:element minOccurs="0" name="type" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayByCNameInternalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HelpBase" minOccurs="0" name="PayByCNameInternalResult" type="q6:ResultInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayByCAccountNameInternal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quantity" type="xs:int" />
        <xs:element minOccurs="0" name="type" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PayByCAccountNameInternalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/HelpBase" minOccurs="0" name="PayByCAccountNameInternalResult" type="q7:ResultInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FreezeUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cid" type="xs:long" />
        <xs:element minOccurs="0" name="endFreezeTimestamp" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FreezeUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FreezeUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KickUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cid" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KickUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KickUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAwardAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="awards" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mailContent" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAwardAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/HelpBase" minOccurs="0" name="SendAwardAllResult" type="q8:ResultInfoOfArrayOfstringuHEDJ7Dj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAwardByAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="accounts" nillable="true" type="q9:ArrayOfstring" />
        <xs:element minOccurs="0" name="awards" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAwardByAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/HelpBase" minOccurs="0" name="SendAwardByAccountResult" type="q10:ResultInfoOfArrayOfstringuHEDJ7Dj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAwardByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="cids" nillable="true" type="q11:ArrayOflong" />
        <xs:element minOccurs="0" name="awards" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAwardByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/HelpBase" minOccurs="0" name="SendAwardByIDResult" type="q12:ResultInfoOfArrayOfstringuHEDJ7Dj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAwardByLv">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="minLv" type="xs:int" />
        <xs:element minOccurs="0" name="maxLv" type="xs:int" />
        <xs:element minOccurs="0" name="awards" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAwardByLvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/HelpBase" minOccurs="0" name="SendAwardByLvResult" type="q13:ResultInfoOfArrayOfstringuHEDJ7Dj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAwardByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="cnames" nillable="true" type="q14:ArrayOfstring" />
        <xs:element minOccurs="0" name="awards" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAwardByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/HelpBase" minOccurs="0" name="SendAwardByNameResult" type="q15:ResultInfoOfArrayOfstringuHEDJ7Dj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAwardByNameNew">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="cnames" nillable="true" type="q16:ArrayOfstring" />
        <xs:element minOccurs="0" name="awards" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAwardByNameNewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendAwardByNameNewResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SilentUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cid" type="xs:long" />
        <xs:element minOccurs="0" name="silent" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SilentUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/HelpBase" minOccurs="0" name="SilentUserResult" type="q17:ResultInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemAward">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemAwardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSystemAwardResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSystemAwards">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSystemAwardsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllSystemAwardsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerTime">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetServerTimeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetServerTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="timestamp" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetServerTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetServerTimeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerBirthTime">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerBirthTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetServerBirthTimeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetServerBirthTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="timestamp" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetServerBirthTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetServerBirthTimeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpenLoginTime">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpenLoginTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOpenLoginTimeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOpenLoginTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="timestamp" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOpenLoginTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetOpenLoginTimeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpenLoginMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpenLoginMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOpenLoginMessageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOpenLoginMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOpenLoginMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetOpenLoginMessageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCharacterByPartialName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="partialName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCharacterByPartialNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FindCharacterByPartialNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCharacterByAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="account" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCharacterByAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FindCharacterByAccountResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCharacterByPartialAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="account" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCharacterByPartialAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FindCharacterByPartialAccountResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCharacterById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCharacterByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FindCharacterByIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTestItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cid" type="xs:long" />
        <xs:element minOccurs="0" name="categoriesInt" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTestItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateTestItemsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStuff">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStuffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteStuffResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RandomSceneEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="targetID" type="xs:long" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RandomSceneEventResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllItems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllItemsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowAllAwardOrigin">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowAllAwardOriginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ShowAllAwardOriginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowAwardOrigin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="typeId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowAwardOriginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ShowAwardOriginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitAwardSummary">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InitAwardSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InitAwardSummaryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestWebJson">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestWebJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestWebJsonResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcuteScript">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="script" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcuteScriptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExcuteScriptResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPromoUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPromoUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPromoUsersResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>